fastapi
uvicorn[standard]
pydantic
python-multipart
websockets
opencv-python
face_recognition
argon2-cffi
pymongo
python-dotenv
pydantic[email]
langchain
langchain-openai
assemblyai
assemblyai[extras]
elevenlabs
git+https://github.com/speechbrain/speechbrain.git
